<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Dictation" />
  <meta name="keywords" content="ë“£ê³ ì“°ê¸°,ì˜ì–´,ë¦¬ìŠ¤ë‹,ì“°ê¸°,ë§í•˜ê¸°,ë°›ì•„ì“°ê¸°,dictation,english,listening,writing,listen,write,learn,speaking" />
  <title>Dictation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css" />
</head>
<body class="col-lg-12">
  <center>
    <div class="header">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ê²½ì²­ Gyeong-cheong</a>
          <div class="btn-group-inline justify-content-end" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-light" href="../account/signup.html">Sign Up</a>
            <a type="button" class="btn btn-light" href="../account/login.html">Log In</a>
          </div>
        </div>
      </nav>
    </div>
  
    <section class="container-fluid col-lg-12">
      <center>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fas fa-book-reader fa-2x mx-3"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width:936px;">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="homepage">
                  <a type="button" class="btn btn-light" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item" id="mycalendar">
                  <a type="button" class="btn btn-light" aria-current="page" href="../calendar.html">My Calendar</a>
                </li>
                <li class="nav-item" id="news">
                  <a type="button" class="btn btn-light" aria-current="page" href="../audio/news.html">News</a>
                </li>
                <li class="nav-item" id="myaudio">
                  <a type="button" class="btn btn-light" aria-current="page" href="../audio/myaudio.html">My Audio</a>
                </li>
                <style type="text/css">
                  .nav-item > .btn:hover{
                    background-color: rgba(99, 96, 246, 1);
                    color: #fff;
                  }
                </style>
              </ul>
            </div>
          </div>
        </nav>
      </center>
    </section>

    <section class="container col-lg-12">
      <table style="width: 936px; padding: 3px; margin-top: 30px;">
        <thead></thead>
        <tbody>
          <td>
            <div id="checklist" style="width:260px;height:346px;background-color:rgb(213, 213, 213);border-radius:20; padding: 10px;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Dictation
                </label>
              </div>
              <br/>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Correction
                </label>
              </div>
              <br/>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Read out loud
                </label>
              </div>
              <br/>
              <!-- score calculated presented after all the checkboxes checked (when user finish task and comeback to 'home' page)-->
              <div class="container-fluid">Score</div> <!-- style.cssì—ì„œ todolist ì˜ì—­ êµ¬ë¶„(ìƒ‰ê¹”)ì´ ì§€ì • ë˜ë©´ ê·¸ ì˜ì—­ ë‚´ì—ì„œ 'Score (ê³„ì‚°ëœ ì ìˆ˜)' ê°€ìš´ë° ì •ë ¬-->
              <style type="text/css">
                br {
                  padding: 3px;
                }
    
                #checklist{
                  background-color:rgb(213, 213, 213);
                  border-radius: 5;
                  float:left;
    
                }
    
              </style>
            </div>
          </td>
          <td style="width: 667px; justify-content: center;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_audio">ðŸŽ§ Upload your own audio</button>
            <div class="modal" id="upload_audio" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="upload-container">
                      <form action="upload" method="post" enctype="multipart/form-data">
                        <input type="file" id="file_upload" name="audio" accept="audio/*"/> <!--multiple="true" íŒŒì¼ ì—¬ëŸ¬ê°œ ì—…ë¡œë“œ ê°€ëŠ¥-->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" onclick="uploadFiles()">Submit</button>
                          <!-- <input type="submit" action="/upload"/>Submit -->
                        </div>
                      </form>
                    </div>
                    <style type="text/css">
                      .upload-container {
                        position: relative;
                      }
                      .upload-container input  {
                        border: 1px solid #92b0b3;
                        background: #f1f1f1;
                        outline: 2px dashed #92b0b3;
                        outline-offset: -10px;
                        padding: 100px 0px 100px 250px;
                        text-align: center !important;
                        width: 500px;
                      }
                      .upload-container input:hover{
                        background: #ddd;
                      }
                      .upload-container:before {
                        position: absolute;
                        bottom: 50px;
                        left: 245px;
                        content: "(or) Drag and Drop files here.";
                        color: #3f8188;
                        font-weight: 900;
                      }
                      .upload-btn{
                        margin-left: 300px;
                        padding: 7px 20px;
                      }
                    </style>
                  </div>
                  <!-- <div class="modal-footer"> -->
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <!-- <button type="submit" class="btn btn-primary" onclick="uploadFiles()">Submit</button> -->
                    <!-- <input type="submit" action="/upload"/>Submit -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <style>
              #upload-btn{
                background-color:rgba(99, 96, 246, 1);
                width:238px;
                height:35px;
                font-size: 17px;
                color: #fff;
              }
              #upload-btn:hover{
                background-color:rgb(76, 74, 184);
              }
            </style>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 30px;">#</th>
                  <th scope="col">Title</th>
                  <th scope="col"></th>
                </tr>
              </thead>  
              <tbody id="audio-list">
                <tr>
                  <th scope="row">1</th>
                  <td>Title</td>
                  <td>
                    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#dictation" role="button" aria-controls="offcanvasExample">
                      Dictation
                    </a>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="dictation" aria-labelledby="offcanvasExampleLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">${title}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <table border="0" width="95%" style="width:936px; height: 638px; margin-top: 41px;">
                          <thead>
                            <tr><th style="font-size: 40px; font-weight: 700; height:84px;">${title}</th></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="type_here">
                                  <textarea id="freeform" name="freeform" style="width:616px; height: 638px; padding:3px;">Type here...</textarea>
                                </div>
                              </td>
                              <td class="youtubePlayer" style="width: 320px; height:638px;">
                                <center>
                                  <audio id="audio_player" src="audio/*" controls autoplay muted loop preload="metadata"></audio>
                                  </div>
                                  <br/>
                                  <br/>
                                  <br/>
                                  <div id="next-button" style="vertical-align: bottom;"><a type="button" class="btn btn-primary"  href="./correction.html">Next</a></div>
                                </center>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tbody>
      </table>
    </section>
  </center>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript">
    
    // function upload(){
    //   const myModal = new bootstrap.Modal(document.getElementById('upload_audio'));
    //   myModal.Modal('show');
    // }

    const fileInput = document.getElementById("file_upload");
    //let fileSaved = fileInput.files;

    document.addEventListener("DOMContentLoaded", () => {

    });

    function uploadFiles() {
      var files = fileInput.files; //get input (file)
      var name = files.name;

      if(files.length==0){
        alert("Please first choose or drop any files(s)...");
        return;
      }
      var filenames="";
      for(var i=0; i<files.length;i++){
        filenames+=files[i].name+"\n";
      }
      alert("Selected files(): \n_____________________\n"+filenames);

      console.log(fileInput.files[0]);

    }

    // const fileInput = document.getElementById("file_upload");

    // fileInput.onchange=() => {
    //   const selectedFile = fileInput.files[0];
    //   // fileSaved += selectedFile;
    //   console.log(selectedFile);
    // };

    file_upload.onchange = () => {
      var files = fileInput.files;
      var file = URL.createObjectURL(files[0]); 
      audio_player.src = file; 
      audio_player.play();
    };

    // const handleFiles = (e) => [
    //   const selectedFile =  [...fileInput.files];
    //   const fileReader = new FileReader();

    //   fileReader.readAsDataURL(selectedFile[0]);

    //   fiileReader.onload = function () {
    //     document.getElementById().src
    //   }
    // ]

    // fileInput.addEventListener("change", handleFiles);
  </script>
</body>
</html>