<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="not_started.css" />
    </head>
    <body>
        <div class="box">
            <div class="not-started-audio">
                <div class="overlap-wrapper">
                    <div class="overlap">
                        <div class="frame">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group">
                                    <div class="text-wrapper">IELTS 2015 Test1</div>
                                    <div class="div">시작 안 함</div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                          <div class="status-bar-hover">
                            
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="div-wrapper">
                    <div class="overlap">
                        <div class="frame">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group">
                                    <div class="text-wrapper">IELTS 2015 Test1</div>
                                    <div class="div">시작 안 함</div>
                                </div>
                            </div>
                        </div>
                        <img class="status-bar-hover" src="img/status-bar-hover.svg" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
